body {
    margin:auto;
    text-align:center;
    width:100%;
    background-color: #014E6D  ;
}

h1 {
    text-align:left;
    margin-left:30px;
    color:aqua;
}

.container {
  
}

#car {
    left:0;
    position: relative;
}

#myCanvas {
    margin-left:900px;
    position:relative;
    margin-top:5px;
}

footer {
    background-color:gainsboro;
}